<template>
    <form>
    <div class="slds-m-around_medium slds-col">
        <span style="font-size: 125%;"><b>{label.labelName}</b></span><!-- Interest Information -->
        <!-- <template if:true={hideCreateAII}>
            <lightning-button variant="brand" label="Create Account Info" style="float: right;"
                                onclick={createAccInfo} class="slds-m-left_x-small"></lightning-button>
        </template> -->
            <lightning-button variant="brand" label="Refresh" style="float: right;"
                            onclick={refreshComponent2} class="slds-m-left_x-small"></lightning-button>
        <template if:true={showDownloadBtn}>
            <lightning-button label="Download as PDF" variant="brand" style="float: right; margin-left: 5px;" 
                                onclick={generatePdf} class="slds-no-print"></lightning-button>
            <!-- &nbsp;&nbsp;
            <lightning-button label="Download" variant="brand" style="float: right;" 
                                onclick={jsPdf} class="slds-no-print"></lightning-button> -->
            <template if:true={boolShowSpinner}>
                <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
            </template>
        </template>
    </div>
    <div class="bdalign" style="height:50rem; margin:0 auto;"><!-- slds-scrollable_y -->
        <lightning-card>
            <lightning-layout multiple-rows="false">
                <template for:each={showdata} for:item="d">
                    <lightning-layout-item style="border-style: groove; margin:.5rem;height:15rem;width:25rem"
                                            key={d.key} class="slds-scrollable" size="5"><!-- size="5" -->
                        <div class="slds-grid">
                            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                <div style="padding: .5rem;">
                                    <template if:true={d.Apttus_Proposal__Proposal_Name__c}>
                                        <h4 style="font-size: 110%;">
                                            <b>
                                                <span><u>Quote Name:</u></span>&nbsp;
                                                <span>{d.Apttus_Proposal__Proposal_Name__c}</span>
                                            </b>
                                        </h4>
                                    </template>
                                    <template if:true={d.Name}>
                                        <h3 style="font-size: 110%;">
                                            <b>
                                                <span><u>Agreement Name:</u></span>&nbsp;
                                                <span>{d.Name}</span>
                                            </b>
                                        </h3>
                                    </template><br>
                                    <lightning-formatted-rich-text value={d.APTPS_Configuration_Summary__c}
                                                            style="float: left; display:inline;"
                                    ></lightning-formatted-rich-text>
            
                                    <lightning-formatted-rich-text value={d.APTPS_Configuration_Summary_1__c}
                                                            style="float: right; display:inline;"
                                    ></lightning-formatted-rich-text>
                                </div>
                            </header>
                        </div>
                    </lightning-layout-item>
                </template>
            </lightning-layout>
          <div class="map-root" lwc:dom="manual"></div>
        </lightning-card>
    </div>
</form>
</template>